<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../static/css/icon.css">
    <link rel="stylesheet" href="../static/css/f.css">
    <link rel="stylesheet" href="../static/js/layui/css/layui.css">
    <title>搜索结果页</title>
</head>

<body>
    <div id="tn-background">
        <div id="pin-nav" class="">
            <ul id="ulc">
                {{if .IsLogin}}
                <li class="top">
                    <a href="/selfhome">我的主页</a>
                </li>
                <li id="line" class="top"></li>
                <li class="top">
                    <a title="点击退出登录" href='javascript:if (confirm("确定退出登录么？")){location="/exit"}'>{{.Username}}</a>
                </li>

                <li id="userId" style="display:none">{{.Userid}}</li>

                {{else}}
                <li class="top">
                    <a class="sign" href="javascript:">注册</a>
                </li>
                <li id="line" class="top"></li>
                <li class="top">
                    <a class="login" href="javascript:">登录</a>
                </li>
                {{end}}
                <li class="ms ms-s"><em class="iconfont ii" style="font-size: 40px;line-height: 40px;">&#xe61c;</em></li>
                <li class="ms">
                    <!--
                    搜索功能实现，这里的属性我没有设置
                -->
                    <form id="if" class="if" action="" method="GET">
                        <input id="searchPut" class="in" style="width: 250px;padding: 0 20px;" type="text" name="keyWords" placeholder="搜索书籍">
                        <button id="in" type="submit" style="visibility: hidden;width: 0;">
                </form>
                </li>
                <li>
                    <div class="left button_search">玄幻</div>
                </li>
                <li>
                    <div class="left button_search">奇幻</div>
                </li>
                <li>
                    <div class="left button_search">武侠</div>
                </li>
                <li>
                    <div class="left button_search">仙侠</div>
                </li>
                <li class="lc">
                    <div>
                        <div class="left"><em class=""></em> 全部分类</div>
                        <div class="bc">

                            <div class="right button_search">都市</div>


                            <div class="right button_search">现实</div>


                            <div class="right button_search">军事</div>


                            <div class="right button_search">历史</div>


                            <div class="right button_search">游戏</div>


                            <div class="right button_search">体育</div>


                            <div class="right button_search">科幻</div>


                            <div class="right button_search">悬疑</div>

                        </div>
                    </div>
                </li>
                <li>
                    <div class="left home">首页</div>
                </li>
                
            </ul>
        </div>
    </div>
    <div id="work_area">
        <div id="history">
            <p id="out" style="font-size: 40px;padding: 20px;">搜索结果</p>
            <div id="cont" style="float: left; height: 620px;margin: 0 0 50px 0;width: 1100px;">

            </div>
            <div id="h_h"></div>
        </div>
    </div>
</body>
<script src="../static/js/jQuery.min.js"></script>

<script>
    
    $(".button_search").click(function(){
        $("#searchPut")[0].value = $(this).html();
        $("#in").trigger('click');
    })
    $(".home").click(function(){
        window.location.href = '/home';
    })
</script>
<script src="../static/js/layer-v3.1.1/layer/layer.js"></script>
<script src="../static/js/jquery.form.js"></script>
<script src="../static/js/layui/layui.js"></script>
<script src="../static/js/f.js"></script>
<script src="../static/js/page_search.js"></script>
<script>
    if(localStorage.getItem("searchWord") != (undefined||''||null)){
        console.log(localStorage.getItem("searchWord"));
        $("#searchPut")[0].value = localStorage.getItem("searchWord");
        localStorage.removeItem("searchWord");
        $("#in").trigger('click');
    }
</script>
</html>